/// Icons
///////////////////////////
.icon {
   &-light {
      color: $white;
   }

   &-dark {
      color: $base-color;
   }

   &-text {
      display: inline-flex;
      align-items: center;
      font-size: $fx-sz-12;

      .icon {
         font-size: 1.2em;
         margin-right: 0.5em;
      }
   }

   &-image {
      width: 70px;

      + h6 {
         margin-top: 1rem;
      }
   }

   &-circle {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      background: $primary;
      color: $white;
      font-size: 18px;
      height: 36px;
      width: 36px;

      &-sm,
      &.sm {
         height: 20px;
         width: 20px;
         font-size: 12px;
      }

      &-lg,
      &.lg {
         height: 44px;
         width: 44px;
         font-size: 24px;
      }

      &-xxl,
      &.xxl {
         height: 80px;
         width: 80px;
         font-size: 40px;
      }
   }

   &-status {
      position: relative;
      display: inline-flex;

      &:after {
         position: absolute;
         border-radius: 50%;
         right: 0;
         top: 1px;
         height: 10px;
         width: 10px;
         border: 2px solid $white;
         content: '';
      }

      &-info {
         &:after {
            background: $info;
         }
      }
   }

   &-overlap {
      display: inline-flex;
      align-items: center;
      flex-direction: row-reverse;

      li {
         border-radius: 50%;
         border: 2px solid #ffffff;

         + li {
            margin-right: -14px;
         }
      }
   }
}

$icon-adj-bg: (
   'btc' $brand-color-bitcoin,
   'facebook' $brand-color-facebook,
   'google' $brand-color-google,
   'btc-dim' mix($brand-color-bitcoin, #ffffff, 13%),
   'eth-dim' mix($brand-color-ethereum, #ffffff, 13%)
);

@each $name, $color in $icon-adj-bg {
   .icon-circle[class*='#{$name}'] {
      background: $color;
   }
}

$icon-adj-colors: (
   'blue-dim': $blue,
   'azure-dim': $azure,
   'indigo-dim': $indigo,
   'purple-dim': $purple,
   'pink-dim': $pink,
   'orange-dim': $orange,
   'teal-dim': $teal,
   'primary-dim': $accent-color,
   'secondary-dim': $base-color,
   'success-dim': $success,
   'info-dim': $info,
   'warning-dim': $warning,
   'danger-dim': $danger,
   'light': $base-text,
   'lighter': $base-light,
   'dark-dim': #dde2ea,
   'gray-dim': #e9f0f9,
   'facebook-dim': $brand-color-facebook,
   'google-dim': $brand-color-google,
   'btc-dim': $brand-color-bitcoin,
   'eth-dim': $brand-color-ethereum,
);

@each $name, $color in $icon-adj-colors {
   .icon[class*='bg-#{$name}'] {
      color: $color;
   }
}

$icon-sizes: (
   'xs': 0.5rem,
   'sm': 1.5rem,
   'md': 3rem,
   'lg': 4rem,
   'xl': 5rem,
);

@each $name, $size in $icon-sizes {
   .icon[class*='icon-#{$name}'] {
      font-size: $size;
   }
}

// /// Icon avatar
// ///////////////////////
.icon-avatar {
   width: 1.5rem;
   height: 1.5rem;
   display: inline-block;
   text-align: center;
   line-height: 1.5rem;
   border-radius: 50%;
   background: $accent-200;
   color: $accent-500;
   margin-right: 0.5rem;
   font-size: $fx-sz-12;

   &-md {
      width: 2rem;
      height: 2rem;
      line-height: 2rem;
      font-size: $fx-sz-14;
   }
}
